@using MyShop.Models
@model IEnumerable<MyShop.Models.Item>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" cotent ="width=device-width" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <title>My Shop</title>
</head>
<body>
    <div class="container">
        <h1>@ViewBag.CurrentViewName</h1> <!-- outputs h1 header wuith value viewbag.. 
                                                viewbag.. is a razor syntax to embed server side ocde in the view.
                                                viewbag is dynamic object used to pass data from the controller to the view-->
        <table class='table table-stripped'> <!-- -->
            <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("0.00 NOK")</td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>